body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: rgb(3, 90, 249);
    font-family: "Montserrat", sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(253, 255, 250);
    width: 500px;
    height: 300px;
    padding: 15px;
    border-radius: 8px;
}

section div{
    font-weight: 400;
}

section div button{
    margin-top: 10px;
    background-color: rgb(3, 90, 249);
    border: none;
    color: black;
    padding: 8px;
    width: 150px;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: pointer;
}